<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onClose()"><mat-icon>face</mat-icon><span class="nav_caption">Signup</span></a>
    <a mat-list-item routerLink="/login" (click)="onClose()"><mat-icon>perm_identity</mat-icon><span class="nav_caption">Login</span></a>
    <a mat-list-item routerLink="/training" (click)="onClose()"><mat-icon>fitness_center</mat-icon><span class="nav_caption">Training</span></a>
    <mat-list-item>
        <button mat-icon-button  (click)="onClose()">
            <mat-icon>eject</mat-icon>
            <span class="nav_caption">Logout</span>
        </button>
    </mat-list-item>
  </mat-nav-list>